@import url("https://fonts.googleapis.com/css2?family=Mate:ital@0;1&display=swap");

.mate-regular {
  font-family: "Mate", serif;
  font-weight: 400;
  font-style: normal;
}

.mate-regular-italic {
  font-family: "Mate", serif;
  font-weight: 400;
  font-style: italic;
}

@layer base {
  html {
    font-family: "Mate", serif;
    font-weight: 400;
    font-style: normal;
  }
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  color: var(--foreground);
  background: var(--background);
  scroll-behavior: smooth;
  @include font;
}

#root {
  /* padding: 2%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

button,
hr {
  background: var(--background);
  color: var(--foreground);
}

button {
  cursor: pointer;
}

button {
  background: var(--b-contrast);
  border: none;
  border-radius: 10px;
}

button:hover {
  color: var(--fh-contrast);
  background: var(--bh-contrast);
}
